*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: gray;
    padding: 0.1px;
}

.firstpage{
    width: 90%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 80px 80px;
    
    
    /* padding: 0.1px; */

}

nav{
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: gilroy;
}

nav > button{
    width: 110px;
    height: 100%;
    font-size: 17px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    
}
.name{
    position: absolute;
    left: 100px;
    font-size: 20px;

}
.logo{
    width: 40px;
    cursor: pointer;
}

.link a{ 
    font-size: 17px;
    flex-direction: row;
    text-decoration: none;
    /* background-color: red; */
    color: black;
    margin-right: 30px;
    font-weight: 700;
    position: relative;
}

.firsttxt{
    width: 50%;
    height: 100%;
    background-color: rgb(217, 217, 217);
}

.firsttxt > h1{
    color: rgb(160, 159, 159);
    padding: 40px;
    text-align: center;
    font-size: 55px;
    line-height: 55px;
    font-weight: 700;
    font-family: gilroy;
    letter-spacing: 5px;
    word-spacing: 10px; 
    text-align: justify;
    margin-left: 100px;
}

.firsttxt>h1>span{
    color: black;
}
.firsttxt>h3{
    font-family: gilroy;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    text-align: justify;
    justify-content: center;
    margin-top: 18vh;
}
.form{
    background-color: rgb(193, 192, 192);
    width: 60%;
    height: 7%;
    display: flex;
    flex-direction: row;
    /* padding: 0px; */
    border-radius: 50px;
    margin-left: 130px;
   
}

.form>input{
    flex-grow: 2;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    margin-left: 20px; font-family: gilroy;
    font-size: 16px;
}
.form>button{
    height: 100%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    flex-grow: 1;
    font-family: gilroy;
    font-size: 16px;
}

.first{
    width: 100%;
    height: 100%;
    display: flex;
}

.firstimg{
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
}
.firstimg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secondpage{
    width: 90%;
    height: 100vmax;
    background-color: rgb(253, 253, 253);
    margin: 80px;
    margin-top: -35px;
    padding: 0.1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}
.secondpage>h1{
    text-align: center;
    font-family: gilroy;
    font-weight: 600;
    font-size: 40px;
    margin-top: 20vh;
    
}
.secondbox{
    width: 70%;
    height: 35%;
    /* background-color: red; */
    /* margin-left: 240px; */
    display: flex;
    justify-content: space-between;
}
.before{
    width: 49%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
    text-align: center;
}
.after{
    width: 49%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
    text-align: center;
}
.before>span{
    font-size: 18px;
    background-color: green;
    border-radius: 20px;
    padding: 10px;
    
}
.after>span{
    font-family: 18px;
    background-color: orange;
    border-radius: 20px;
    padding: 10px;
    
}